<h2>Current Events</h2>

<table border="1">

    <tr>
        <th>Date</th>
        <th>Event</th>
        <th>Location</th>
        <th>Status</th>
        <th>Delete</th>
    </tr>

    {% for event in events %}

    <tr>
        <td>{{ event.date }}</td>
        <td>{{ event.title }}</td>
        <td>{{ event.location }}</td>
        <td>{{ event.status }}</td>

        <td>
            <a href="/admin/delete_event/{{ event.id }}">
                Delete
            </a>
        </td>
    </tr>

    {% endfor %}

</table>