<!DOCTYPE html>
<html>
<head>
    <title>Events</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h1>School Events</h1>

<nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/timetable">Timetable</a>
    <a href="/canteen">Canteen</a>
    <a href="/logout">Logout</a>
</nav>


{% for event in events %}

<tr>

    <td>{{ event.date }}</td>

    <td>{{ event.title }}</td>

    <td>{{ event.location }}</td>

    <td>{{ event.status }}</td>

</tr>

{% endfor %}